#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  background-image: url(snowfall.jpg);
  margin: 0;
  display: grid;
  place-items: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 50vh;
}
h1 {
  font-size: 60px;
  font-weight: bolder;
  margin: 8px;
  text-align: center;
  font-display: swap;
  color: aquamarine;
}

h2 {
  font-family: sans-serif;
  font-style: oblique;
  color: rgb(169, 119, 175);
  align-items: center;
  font-size: 50px;
  margin: 8px;
  margin-right: 8px;
  text-align: center;
  text-shadow: 2px 2px 10px #500546;
}
p {
  font-family: sans-serif;
  font-style: oblique;
  font-size: 50px;
  color: rgb(169, 119, 175);
  text-shadow: 2px 2px 10px #500546;
}

input {
  background: linear-gradient(90deg, #e3ffe7 0%, hsl(218, 84%, 39%) 100%);
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin-left: 550px;
  padding: 10px 10px;
  box-shadow: 0px 0px 10px #056693, 0px 0px 10px #0033ff inset;
  border: 2px solid #974a81;
  height: 50px;
  width: 150px;
}

button {
  background-color: rgb(160, 221, 232);
  border-color: rgb(238, 186, 203);
  border-radius: 30px;
  width: 80px;
  box-shadow: 0px 0px 10px #056693, 0px 0px 10px #0033ff inset;
  border: 2px solid #974a81;
}
button:hover {
  background-color: rgb(6, 72, 80);
  cursor: pointer;
  transform: rotatez(180deg);
}

button {
  padding: 5px 5px;
  font-family: sans-serif;
  border-radius: 5px;
  margin: 1rem;
}

.circles {
  display: flex;
  border-radius: 20px;
  justify-content: center;
  padding: 2rem;
}

.circle {
  width: 150px;
  height: 150px;
  background-color: #19759d;
  cursor: pointer;
  width: "50px";
  height: "50px";
  margin-left: "20px";
  margin-right: 20px;
  cursor: "pointer";
  justify-content: center;
  box-shadow: 0px 0px 10px #056693, 0px 0px 10px #0033ff inset;
  border: 2px solid #974a81;
}
.circle:hover {
  transition: 0.6s ease-in-out;
  border-radius: 50%;
}
